body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

#back { display: none; }

header{

    text-align: center;
}

table {
    text-align: center;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: deepskyblue;
    border-top: none;
}

td:first-child {
    border-left: none;
}

header #imagen{
    text-align: center;
    border-image: blue;
    border-image-width: 1px;
}

header #links a {
    font-size: 18px;
}

header #links a:hover {
    font-size: 22px;
}