<head>
<title>Pagina Test</title>
</head>
<body>
<img src="https://content-assets.readcube.com/assets/loader-32-FFFFFF-2x-9c60c0357bf098c56982f49532394fea.gif">
<h1 align="center">{{{titulo}}}</h1>
<br>
<hr>
{{#articulos}}
    <h3 align="center">Nombre: {{Nombre}}</h3>
    <br>
    <h3 align="center">Apellido: {{Apellido}}</h3>
    <br>
    <h3 align="center">Categoria: {{Categoria}}</h3>
    <br>
    <h3 align="center">Fecha de Nacimiento: {{FechaNacimiento}}</h3>
    <br>
    <hr>
{{/articulos}}
</body>